@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    right: 0;
    position: fixed;
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    margin: 0;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@keyframes bellRing {
    0% {}

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-20deg);
    }

    30% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(20deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    100% {
        transform: scale(1);
    }
}