@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

.animated_path {
    animation: move 3s ease-in-out infinite;
}