.bg_cards {
    width: 100%;
    -webkit-clip-path: polygon(50% 7%, 65% 21%, 100% 21%, 100% 55%, 100% 100%, 52% 100%, 0 100%, 0 56%, 0 21%, 35% 21%);
clip-path: polygon(50% 7%, 65% 21%, 100% 21%, 100% 55%, 100% 100%, 52% 100%, 0 100%, 0 56%, 0 21%, 35% 21%);
    background:#3498DB;
    height: 57rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:1200px) {
    .bg_cards{
        padding-top: 20rem;
        height: fit-content;
    }
}


@keyframes move {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
	40% {
        transform: translateY(-10px);
    }
	60% {
        transform: translateY(-5px);
    }
	80% {
        transform: translateY(0px);
    }
	90% {
        transform: translateY(+5px);
    }
    100% {
        transform: translateY(0);
    }
}

.animated_path {
    animation: move 3s ease-in-out infinite;
}